name: 'nightly artifacts cleanup'
on:
  schedule:
    - cron: '0 0 * * *' # Run at midnight

jobs:
  delete-artifacts:
    runs-on: ubuntu-latest
    steps:
      - uses: kolpav/purge-artifacts-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          expire-in: 0 # Set this to 0 to delete all artifacts
